In [2]:
import numpy as np
import pandas as pd

### Filling missing values with Group-Specific values

In [3]:
names = ['Dynamo', 'Snax', 'Mortal', 'Scout', 'Joker', 'Krutika', 'Payal', 'Kaashvi']
group_key = ["East"] * 4 + ['West'] * 4
data = pd.Series(np.random.randn(8), index=names)

data[['Mortal', 'Joker']] = np.nan

data.groupby(group_key).mean()

East   -0.072679
West    0.261570
dtype: float64

In [4]:
# Filling missing values by mean groupwise
lambda x: x.fillna(x.mean())

data.groupby(group_key).apply(lambda x: x.fillna(x.mean()))

East  Dynamo     0.633757
      Snax      -0.043969
      Mortal    -0.072679
      Scout     -0.807824
West  Joker      0.261570
      Krutika   -0.191036
      Payal      0.917992
      Kaashvi    0.057754
dtype: float64

In [6]:
fill_values = {'East': 10, 'West': 20}
data.groupby(group_key).apply(lambda g: g.fillna(fill_values[g.name]))

East  Dynamo      0.633757
      Snax       -0.043969
      Mortal     10.000000
      Scout      -0.807824
West  Joker      20.000000
      Krutika    -0.191036
      Payal       0.917992
      Kaashvi     0.057754
dtype: float64

### Random Sampling and Permutations

In [3]:
suits = ['H', 'S', 'C', 'D']
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ['A'] + list(range(2, 11)) + ['J', 'K', 'Q']

cards = []

for suit in suits:
    cards.extend((str(num) + suit) for num in base_names) 

deck = pd.Series(card_val, index=cards)
deck.head(5) # Total 52 cards

AH    1
2H    2
3H    3
4H    4
5H    5
dtype: int64

In [4]:
# Sampling based on each group
def do_sample(df, n = 5):
    return df.sample(n)

deck.groupby(lambda card: card[-1]).apply(do_sample, n = 2)

# lambda card: card[-1] - if we apply a function(other than regular function) then grouping is applied over indexes

C  3C     3
   AC     1
D  4D     4
   2D     2
H  AH     1
   QH    10
S  9S     9
   3S     3
dtype: int64

In [7]:
deck.groupby(lambda card: card[-1]).sample(2)

2C      2
6C      6
8D      8
10D    10
3H      3
10H    10
3S      3
JS     10
dtype: int64